#!/bin/bash

{{ if eq .osid "darwin" }}
echo "Detected MacOS"

{{ else if eq .osid "linux-debian" }}
echo "Detected Debian"

{{ else if eq .osid "linux-fedora" }}
echo "Detected Fedora"

{{ else if eq .osid "linux-garuda" }}
echo "Detected Garuda"
echo "Do you want to continue with installs?(yes/no)"
read input
if [ "$input" == "yes" ]
then
sudo pacman -Syu go neovim tmux autossh sshuttle fzf powerline code mosh nodejs discord git base-devel npm httpie python-pip
#git clone https://aur.archlinux.org/yay-git.git ~/git/yay-git
#cd ~/git/yay-git
#makepkg -si
#yay -Syu
#yay -S slack-desktop brave
fi
{{ end }}
