#!/bin/bash
# aichat config hash: {{ include "dot_config/aichat/config.yaml.tmpl" | sha256sum }}
# aichat theme hash: {{ include "dot_config/aichat/dark.tmTheme" | sha256sum }}
{{ if eq .osid "darwin" -}}

DIR="${HOME}/Library/Application Support/aichat"

if [ ! -L "${DIR}" ] && [ -e "${DIR}" ]; then
	rm -rf "${DIR}"
fi

if [ ! -e "${DIR}" ]; then
	ln -s "${HOME}/.config/aichat" "${DIR}"
fi

{{- end }}
