#!/bin/bash
# aichat config hash: {{ include "dot_config/aichat/config.yaml.tmpl" | sha256sum }}
{{ if eq .osid "darwin" -}}

DIR="${HOME}/Library/Application Support/aichat"

if [ ! -L "${DIR}/config.yaml" ] && [ -f "${DIR}/config.yaml" ]; then
	rm "${DIR}/config.yaml"
fi

if [ ! -f "${DIR}/config.yaml" ]; then
	mkdir -p "${DIR}"
	ln -s "${HOME}/.config/aichat/config.yaml" "${DIR}/config.yaml"
fi

{{- end }}
