[user]
	name = {{ (bitwardenSecrets "eba3198d-e71b-4ade-9a63-b0cd00275aac").value }}
	email = {{ (bitwardenSecrets "ccfacb4b-44ba-46df-b76f-b0cd0027b0f6").value }}

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[include]
	path = ~/.config/delta/themes.gitconfig

[delta]
	features = kanagawa
	hyperlinks = true
	line-numbers = true
	side-by-side = false
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default

[color]
	ui = true

[url "ssh://git@github.com"]
	insteadOf = https://github.com

[init]
	defaultBranch = main

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
