{{ if eq .osid "darwin" }}
#!/bin/sh
echo "Detected MacOS"

{{ else if eq .osid "linux-debian" }}
#!/bin/sh
echo "Detected Debian"

{{ else if eq .osid "linux-fedora" }}
#!/bin/sh
echo "Detected Fedora"

{{ else if eq .osid "linux-garuda" }}
#!/bin/sh
echo "Detected Garuda"

{{ end }}
