{{ if eq .osid "darwin" }}
#!bin/bash
echo "Detected MacOS"

{{ else if eq .osid "linux-debian" }}
#!bin/bash
echo "Detected Debian"

{{ else if eq .osid "linux-fedora" }}
#!bin/bash
echo "Detected Fedora"

{{ else if eq .osid "linux-garuda" }}
#!bin/bash
echo "Detected Garuda"

{{ end }}
